@using System.Security.Claims
@attribute [Authorize]
@page "/"

<h3>Welcome, @_context?.Identity?.Name</h3>

@code {
    [CascadingParameter]
    private Task<AuthenticationState> AuthTask { get; set; } 
    
    private ClaimsPrincipal _context;

    protected override async Task OnInitializedAsync()
    {
        var auth = await AuthTask;
        _context = auth.User;
    }


    protected override Task OnAfterRenderAsync(bool firstRender)
    {
        return base.OnAfterRenderAsync(firstRender);
    }

}