@attribute [AllowAnonymous]
@layout LoginLayout
@page "/login"


@inject NavigationManager Nav

<div class="d-flex justify-center pa-6">
<MudImage ObjectPosition="ObjectPosition.Center" Src="images/kooplogo.png" Alt="KoopBank" Height="70" />
</div>

<MudPaper Class="login-card p-6 pa-5" Elevation="12" Square="false">
    @if (!string.IsNullOrEmpty(_error))
    {
        <MudAlert Severity="Severity.Error">@_error</MudAlert>
    }



    <form method="post" action="@_formAction" novalidate>
        <MudStack Spacing="2" Class="mb-2">
            <MudTextField T="string"
                          @bind-Value="_username"
                          Label="Kullanıcı Adı"
                          Variant="Variant.Filled"
                          name="Username"
                          InputAttributes="UsernameAttrs" />
            <MudTextField T="string"
                          @bind-Value="_password"
                          Label="Şifre"
                          name="Password"
                          Variant="Variant.Filled"
                          InputType="@(_showPwd ? InputType.Text : InputType.Password)"
                          InputAttributes="PasswordAttrs" />

            <MudButton Color="Color.Primary"
                       Variant="Variant.Filled"
                       ButtonType="ButtonType.Submit"
                       FullWidth="true">
                KULLANICI GİRİŞİ
            </MudButton>
        </MudStack>
    </form>
</MudPaper>

@code {

    // 👇 These ensure the inputs are included in the POST body

}